@import "tailwindcss";

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.ttf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.ttf");
}

@theme {
  --color-primary: #e4e4e4;
  --color-secondary: #AFB3BD;
  --color-backgroundsecondary: #363c49;
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
}

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  a, button, input, select, textarea {
    font-size: 16px;
  }
  header {
    z-index: 10;
  }
}

@utility productcards {
  @apply shrink-0 max-w-xs mx-auto rounded-sm bg-backgroundsecondary shadow-md overflow-hidden;
  }

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e4e4e4;
  background-color: #2B2E35;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}